.a {
  text-decoration: none;
  width: 7px;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
}
.placeholder {
  border-radius: var(--br-29xl-6);
  background-color: var(--surface-all-disabled);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-3xs);
}
.votreContexte {
  flex: 1;
  position: relative;
  font-size: var(--text-s-normal-size);
  line-height: 20px;
  color: var(--text-text-secondary);
  display: inline-block;
  min-width: 80px;
}
.placeholderParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-3xs-7);
  color: var(--color-text-default-0);
  font-family: var(--text-s-normal);
}
